@charset "utf-8";

section{
  background-color: teal;
  color: #ffffff;
  margin: 2em;
  padding: 1em;
  overflow: hidden;
}
img{
  width: 275px;
  height: auto;
}
.f-left{
  float: right;
  margin: 50px;
}
.f-right{
  float: right;
  margin: 50px;
}